<div id="<%= dom_id user %>">

  <% if session[:user_id].present? && user.id == session[:user_id] %>
    <h3><%= user.name %> (Current User)</h3>
  <% else %>
    <h3><%= user.name %></h3>
  <% end %>
  
  <p>
    <strong>ID:</strong>
    <%= user.id %>
  </p>

  <p>
    <strong>Username: </strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Password digest: </strong>
    <%= user.password_digest %>
  </p>

  <p>
    <strong>Name: </strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Role: </strong>
    <%= user.role %>
  </p>

  <p>
    <strong>Bio: </strong>
    <%= user.bio %>
  </p>

  <p>
    <strong>Website: </strong>
    <%= user.website %>
  </p>

  <p>
    <strong>Image:</strong>
    <br/>
    <%= link_to image_tag(user.image_as_thumbnail), user.image, :class => "link-exclude" if user.image.attached? %>
  </p>

  <p>
    <strong>X offset: </strong>
    <%= testimonial.x_offset %>
  </p>

  <p>
    <strong>Y offset: </strong>
    <%= testimonial.y_offset %>
  </p>

</div>
