<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<%= render @user %>

<div class="user">
  <% if @user.id == @current_user.id %>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
    <%= puts "the users path is" %>
    <%= puts edit_user_path %>
  <% end %>
  <%= link_to "Back to users", users_path, :class => "button" %>

  <hr style="margin: 50px;"/>

  <% if @user.id == @current_user.id %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>

  <% if @user.id != @current_user.id %>
    <h4>You can't destroy this user unless you're logged in as them.</h4>
    <h4>If you just created this user and wish to log in as them, <a href="https://daggettcontrol.com/logout">log out</a> of the current user to do so.</h4>
  <% end %>
</div>
