<div id="<%= dom_id product_line %>">
  
  <p>
    <strong>ID:</strong>
    <%= product_line.id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= product_line.company %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= product_line.logo %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product_line.description %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= product_line.website %>
  </p>

  <p>
    <strong>Image:</strong>
    <br/>
    <%= link_to image_tag(product_line.image_as_thumbnail), product_line.image, :class => "link-exclude" if product_line.image.attached? %>
  </p>

</div>
