<div>
  <nav>
    <%= link_to "Home", root_path, :style => "display: inline-block;" %>
    <%= link_to "See All Users", users_path, :style => "display: inline-block;" %>
    <%= link_to "See All Testimonials", testimonials_path, :style => "display: inline-block;" %>
    <%= link_to "See All Product Lines", product_lines_path, :style => "display: inline-block;" %>
    <% if @current_user %>
      <%= link_to "My Account", @current_user, :style => "display: inline-block;" %>
    <% end %>
  </nav>
</div>