<%= form_with(model: testimonial) do |form| %>
  <% if testimonial.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

      <ul>
        <% testimonial.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "#{:name}:" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label "#{:content}:" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label "#{:website}:" %>
    <%= form.text_field :website %>
  </div>

  <div>
    <%= form.label "#{:product_line_id}:" %>
    <%= form.text_field :product_line_id %>
  </div>

  <hr width="15%">
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
