<%= form_with(model: testimonial) do |form| %>
  <% if testimonial.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

      <ul>
        <% testimonial.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "#{:name}:" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label "#{:content}:" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label "#{:website}:" %>
    <%= form.text_field :website %>
  </div>

  <div>
    <%= form.label "Product line:" %>
    <%= select("testimonial", "product_line_id", ProductLine.all.collect{|product_line| [ product_line.company, product_line.id ] }, { include_blank: true }) %>
  </div>

  <div>
    <%= form.label "#{:image}:" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label "#{:x_offset}:" %>
    <%= form.select :x_offset, (-300 ... 300).to_a.select{|x| x%5==0} %>
  </div>

  <div>
    <%= form.label "#{:y_offset}:" %>
    <%= form.select :y_offset, (-300 ... 300).to_a.select{|x| x%5==0} %>
  </div>
  
  <hr width="15%">
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
