<div id="<%= dom_id testimonial %>">

  <p>
    <strong>ID:</strong>
    <%= testimonial.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= testimonial.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= testimonial.content %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= testimonial.website %>
  </p>

  <p>
    <strong>Product line:</strong>
    <%= testimonial.product_line_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <br/>
    <%= link_to image_tag(testimonial.image_as_thumbnail), testimonial.image, :class => "link-exclude" if testimonial.image.attached? %>
  </p>

  <p>
    <strong>X offset: </strong>
    <%= testimonial.x_offset %>
  </p>

  <p>
    <strong>Y offset: </strong>
    <%= testimonial.y_offset %>
  </p>

</div>
