<div id="<%= dom_id testimonial %>">
  <p>
    <strong>Name:</strong>
    <%= testimonial.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= testimonial.content %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= testimonial.website %>
  </p>

  <p>
    <strong>Product line:</strong>
    <%= testimonial.product_line_id %>
  </p>

</div>
