<!DOCTYPE html>
<html>
  <head>
    <title>DaggettControlWebsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>Welcome to the Daggett Control Company Website Database Editor!</h1>
    <!-- instead place nav bar here with links to each index-->
    <%= render :template => "/home/home" %>
    <%= yield %>
  </body>

</html>
